.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 480px;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 94px;
}

.clearButton {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 55px;
  width: 40px;
  height: calc(100% - 2px);
  border: none;
  background: none;

  .clearButtonIcon {
    font-size: 20px;
    color: #a2a3a4;
  }
}

.searchButton {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 1px;
  width: 54px;
  height: calc(100% - 2px);
  border: none;
  background: none;

  .searchButtonIcon {
    font-size: 30px;
  }
}

.input:placeholder-shown + .clearButton {
  display: none;
}

.searchResultInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchResultHeader {
  font-size: 24px;
  line-height: 1.4;
}

.searchResultCount {
  color: #70d7bf;
}

.clearSearchResultButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 4px;
  height: 30px;
  background-color: white;
  border: 0;
}
